:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --box-bg-color: #f5f4fa;
  --primary-icon-color: #afb1b8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.4;
}

img {
  object-fit: cover;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
  margin-right: 0;
}

.icon-list {
  display: flex;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  background-color: var(--box-bg-color);
  margin-bottom: 30px;
}

/* =============modal window=========== */

.backdrop {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 250ms linear 250ms;
}

.modal {
  padding: 40px;
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  min-width: 528px;
  background-color: var(--primary-white-color);
  transition: transform 250ms linear 150ms;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden .modal {
  transform: translateX(-50%) scale(0);
  transition: transform 250ms linear 0s;
}

.modal-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  border-radius: 50%;
  padding: 0;
}

.modal-name {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);

  margin-bottom: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
}

.modal-form-input:focus,
.modal-form-message:focus {
  outline: none;
}

.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
}

.modal-form-contain {
  position: relative;
  margin-bottom: 40px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
}

.modal-form-input-label {
  position: absolute;
  top: -26px;
  left: 0;
}

.modal-form-label-check {
  padding-top: 20px;
  display: flex;
  align-items: center;
}

.modal-form-label-check::before {
  display: block;
  content: "";
  width: 16px;
  height: 16px;
  margin-right: 6px;
  background-image: url(../img/Vector.svg), url(../img/iconcheck.svg);
  background-size: contain, 0;
  background-repeat: no-repeat;
}

.modal-form-check:checked + .modal-form-label-check::before {
  background-image: url(../img/iconcheck.svg);
  background-size: 1, contain;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
}

.modal-form-message:focus,
.modal-form-message:hover {
  border-color: var(--accent-color);
}

.modal-form-input:focus,
.modal-form-input:hover {
  border-color: var(--accent-color);
}

.modal-form-input:focus ~ .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form a {
  color: var(--accent-color);
}

.modal-form-btn {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  display: inline-block;
  width: 200px;
  margin-top: 25px;

  border: 1px solid transparent;
}

.modal-form-btn-container {
  display: flex;
  justify-content: center;
}

/* =============modal window=========== */
/* ==============header============= */

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* ===============navigation============== */

.head-nav {
  display: flex;
  align-items: center;
}

/* ==========site-nav========== */

.site-nav {
  display: flex;
  margin-left: 90px;
}

.section-list {
  width: calc(100% / 4);
  padding: 15px;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: all 0.4s ease;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link:active {
  color: var(--accent-color);
}

.site-nav .current:visited {
  color: var(--accent-color);
}

.site-nav .current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: " ";
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: var(--accent-color);
}

.site-nav .current {
  position: relative;
  color: var(--accent-color);
}

/*============= hero ==============*/
.hero {
  padding: 40px 15px;
  max-width: 1600px;
  min-height: 600px;
  margin: 0 auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../img/heroimg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-bg {
  max-width: 696px;
  text-align: center;
}

.hero-title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: 30px;
  padding: 0px;
}

.is-hidden {
  transition: all 0.2s ease;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

/* =============section================ */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
  margin: 0;
}

.feature-list {
  display: flex;
  list-style: none;
  margin: -15px;
}

.section-item {
  display: inline-block;
  max-width: 270px;
  height: 100px;
}

.main > .no-padd {
  padding-top: 0;
}

.section {
  padding-bottom: 94px;
  padding-top: 94px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
}

.section-title {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 10px;
  margin: 0 auto;
}

.bg {
  background-color: var(--box-bg-color);
}

.section-name {
  color: var(--title-text-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 50px;
}

.section-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin: 0 auto;
}

.work-name {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  padding-bottom: 16px;
}

.works-page-box:not(:last-child) {
  margin-right: 30px;
}

.works-page {
  list-style: none;
  display: flex;
  font-size: 0;
  flex-wrap: wrap;
}

/* =============section================ */
/* =============Our team=========== */

.section-team {
  padding-left: 15px;
  padding-right: 15px;
}

.team {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin: 0;
  padding-bottom: 10px;
  padding-top: 30px;
  align-items: center;
  justify-content: center;
}

.our-work {
  margin-top: 0;
  margin-bottom: 50px;
}

.section-team-list {
  margin: 0;
}

.team-card-name:not(:last-child) {
  margin-right: 30px;
}

.team-card-name {
  text-align: center;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-card .list {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.social-lists {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #ffffff;
  width: 40px;
  height: 40px;
  fill: #afb1b8;
  transition: all 0.4s ease;
}

.social-item-link:hover,
.social-list-svg:hover {
  background-color: var(--accent-color);
  fill: var(--box-bg-color);
}

.social-list-svg {
  width: 20px;
  height: 20px;
}
/* =============Our team=========== */
/*============ our clients ==========*/

.our-clients {
  padding-right: 15px;
  padding-left: 15px;
  height: 182px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
}

.clients-list {
  width: 170px;
  height: 90px;
}

.clients-list:not(:last-child) {
  margin-right: 30px;
}

.clients-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 170px;
  height: 90px;
  border: 2px solid var(--primary-icon-color);
  border-radius: 6px;
  fill: var(--primary-icon-color);
  transition: all 0.4s ease;
}

.clients-list-link:hover,
.clients-link-item:hover {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

/*============ our clients ==========*/
/* ============our works============ */
.works-page-box {
  width: calc((100% - 60px) / 3);
}

.works-page-box:not(:nth-child(3n)) {
  margin-right: 30px;
}

.works-page-box {
  position: relative;
}

.our-works-name {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  text-align: center;
  text-transform: uppercase;

  width: 100%;
  height: 70px;
  color: var(--primary-white-color);
  background: rgba(47, 48, 58, 0.8);
}
/* ============our works============ */
/* ==========Button============= */

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 1px solid transparent;
}

button:hover,
button:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

button {
  cursor: pointer;
  transition: all 0.4s ease;
}

/* =====================contacts=============== */
.contacts-title {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-text-color);
  transition: all 0.4s ease;
}

.contacts-svg {
  margin-right: 10px;
  transition: all 0.4s ease;
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .item:not(:last-child) {
  margin-right: 30px;
}

.contacts-title:hover,
.contacts-item-svg:hover,
.contacts-title:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts-link {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  transition: all 0.4s ease;
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
}
/* =====================contacts=============== */
/* ===============footer=============== */

.footer {
  background: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: auto;
}

.footer-container {
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.footer-logo {
  margin-bottom: 20px;
}

.adress {
  font-style: normal;
  margin-right: 70px;
}

.adress-title {
  color: var(--primary-white-color);
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-list-link {
  margin-bottom: 9px;
}

.footer-social-container {
  margin-right: 90px;
}

.social {
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-social-lists {
  display: flex;
  justify-content: space-between;
  width: 200px;
  margin: 20px auto;
}
.footer-social-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 40px;
  height: 40px;
  transition: all 0.4s ease;
}

.footer-social-item-link:hover {
  background-color: var(--accent-color);
}

.footer-social-list-svg {
  fill: #ffffff;
  width: 20px;
  height: 20px;
}

.join-us {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

.footer-form {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  margin-top: 20px;
  margin-right: 12px;
  background: #2f303a;
  color: var(--primary-white-color);
  padding-left: 16px;
}

.footer-button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
  width: 200px;
  text-align: center;
  border: 1px solid transparent;
  display: flex;
  height: 50px;
}

.footer-button-svg {
  fill: var(--primary-white-color);
  margin-left: 10px;
}
/* ===============footer============== */
