@import "./utils/varibales";
@import "./base/base";
@import "./components/modal";
@import "./base/container";
@import "./layout/header";
@import "./utils/vissualy_hidden";
@import "./layout/hero";
@import "./components/section";
@import "./layout/_masters";
@import "./layout/_clients";
@import "./layout/work";
@import "./base/_btn";
@import "./layout/contacts";
@import "./layout/footer";
